/* My Assessments */

.my-assessments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.my-assesment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.assessment-detail{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.title {
  font-size: 18px;
  line-height: 140%;
}
.icons-collaction{
  display: flex;
  gap: 4px;
}
.icon-wraper {
  padding: 4px;
  border-radius: 50px;
  background-color: white;
}
.icon-22 {
  width: 22px;
  height: 22px;
  margin: 0px;
}
.assesment-grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 30px;
 overflow: hidden;
 
}
.add {
  align-items: center;
  gap: 12px;
  width: max-content;
  padding: 30px;
  background-color: var(--blue-bg);
  border: 1px dashed var(--border-color);
  border-radius: 12px;
  height: min-content;
}
.plus {
  height: 70px;
  width: 70px;
  margin: 0;
}
.new {
  font-size: 18px;
  /* line-height: 140%; */
}
.add-button {
  align-items: center;
  gap: 10px;
}
.instruction {
  width: 328px;
  font-size: 12px;
  text-align: center;
}
